* {
  box-sizing: border-box;
}

.active {
  @apply underline underline-offset-8 text-fuchsia-600;
}

.setting {
  @apply py-2;
}

#gridContainer {
  @apply pb-4 flex justify-center;
}

table {
  background-color: #cdc5d6;
  border-spacing: 0;
}

td {
  border: 1px solid #e8daf5;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}
